.input{
    border:2px solid blue;
    padding:10px;
    border-radius:5px;
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.foodbtn{
    padding:10px 15px;
    margin-left:10px;
    border-radius:5px;
    border:none;
    background-color:blue;
    color:white;
    font-weight:bold;
    cursor:pointer;
}