.li{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 5px;
    /* width: 50%;
    margin-inline: auto; */
}
.button{
    font-size: 16px;
    border-radius: 5px;
    background-color: lightblue;
    border: none;
    cursor: pointer;
    float: right;
}