


.container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
    background-color: beige;
}

.heading {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: aquamarine;
}