.DeleteButton{
    background-color: rgb(207, 11, 11);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;

}

.col_4{
  max-width: 600px;
    margin-left: 10px;
    width: 190px;
    border-radius: 8px;
    display: inline-block;
    text-align: center;


  
    
}